/*
    Since now lines that correspond to accounts, dependencies,
    or subdependencies can be clicked, make their elements act
    like a span to not have the carrot option take up the entire
    width
*/
.o_account_report_line > div {
    display: inline;
}
/**
    Indent all lines that can't be unfolded by 10px to line them
    up with the lines that can be unfolded
*/
.non_unfoldable_line {
    padding-left: 10px;
}