
.o_list_view{
    .table-responsive{
    	.o_list_table{
    		thead{
    			tr{
    				th[data-name="amount_interest"]{
    					min-width: 500px;
    				}
    			}
    		}
    	}
    }
}

.o_chatter_button_new_message{
	display:none !important;
}